<div class="outer-container">

  <h1>Login Form</h1>

  <div class="container">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required [(ngModel)]="user.email" #email="ngModel" placeholder="Your email..">
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email?.errors?.required">Email is required</div>
      </div>

      <label for="pass">Password</label>
      <input type="password" id="pass" name="password" required [(ngModel)]="user.password" #password="ngModel" placeholder="Your password..">
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password?.errors?.required">Password is required</div>
      </div>

      <button type="submit" id="login-btn">Login</button>
  </form>
  </div>
</div>


