<div class="outer-container">

  <h1>Signup Form</h1>

  <div class="container">
  <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <label for="fname">Full Name</label>
      <input type="text" id="fname" name="fullname" required [(ngModel)]="user.name" #name="ngModel" placeholder="Your name..">
      <div *ngIf="f.submitted && name.invalid" class="invalid-feedback">
          <div *ngIf="name?.errors?.required">Full name is required</div>
      </div>

      <label for="email">Email</label>
      <input type="email" id="email" name="email" required [(ngModel)]="user.email" #email="ngModel" placeholder="Your email..">
      <div *ngIf="f.submitted && email.invalid" class="invalid-feedback">
          <div *ngIf="email?.errors?.required">Email is required</div>
      </div>

      <label for="pass">Password</label>
      <input type="password" id="pass" name="password" required [(ngModel)]="user.password" #password="ngModel" placeholder="Your password..">
      <div *ngIf="f.submitted && password.invalid" class="invalid-feedback">
          <div *ngIf="password?.errors?.required">Password is required</div>
      </div>

      <button type="submit" id="signup-btn">Signup</button>
  </form>
  </div>
</div>

