<div class="outer-container">

    <h1>This is home page</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque et laoreet massa. Nullam rhoncus congue purus, sit amet viverra nibh porta vel. In tellus nisl, luctus id feugiat eu, ultricies at lectus. Fusce eget porta justo, vitae convallis arcu. Phasellus metus metus, rutrum non felis id, mollis blandit justo. Cras faucibus euismod mi, non venenatis libero eleifend vel. Sed tristique porttitor turpis, quis efficitur sapien.</p>
    <p>Phasellus id tristique erat. Duis ultrices a nunc nec mollis. Vivamus diam lacus, lacinia vel vestibulum vitae, aliquet ut erat. In cursus sit amet purus ut lobortis. Nulla ornare, mi quis aliquet semper, nunc odio suscipit mauris, eu luctus dui dui ut nisl. Sed facilisis eu purus ut vestibulum. Sed faucibus, mauris eu gravida semper, nisl lacus ultricies ligula, ut molestie ex augue at dui. Proin euismod sit amet purus nec interdum. Curabitur ac arcu eget neque feugiat viverra. Pellentesque a ligula vel purus maximus eleifend vel sed neque. Sed vulputate eu enim non tempus. In eu finibus tellus. In lacinia quam risus. Praesent egestas, ligula non laoreet congue, felis magna sodales purus, ut tristique justo lacus et mi. Fusce mollis auctor hendrerit.</p>

</div>
